<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>表单</h1>                 
                                                   <!-- 文件上传的必要属性 -->
    <form action="/home" method="post" enctype="multipart/form-data">
        <input type="text" name="name"><br>
        <input type="file" name="file"><br>
        <button type="submit">提交</button>
    </form>
</body>
</html>